<suite name="Testes Treinaweb">
	<test name="Pagina de Cadastro de usuários">
		<classes>
			<class name="br.com.treinaweb.selenium.tests.CadastroUsuarioTest"> 
				<methods>
					<include name="verificarEmailsDiferentesTest"></include>
					<include name="verificarNomeNaoPreenchidoTest"></include>
				</methods>
			</class>
			<class name="br.com.treinaweb.selenium.tests.UploadTest">
			</class>
		</classes>
	</test>	
</suite>